@charset "utf-8";
body{
    font-family: 'Noto Sans KR', 'NEONABSOLUTESANS1Regular', 'AbsoluteNeonScript', 'digital-7 (mono)', sans-serif;
    overflow-x: hidden;
}
/* 웹 */
button{
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
}
#wrap{
    width:100%;
    height: 100%;
    overflow: hidden;
}

/* 헤더 */
#header{
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
#nav{
    width: 100%;
    height: 100%;
    background: url(../images/bg/header_bg.jpg);
    overflow: hidden;
}
#nav ul{
    width: 100%;
    height: 100%;
    transform: rotate(5deg);
}
#nav ul li:first-child{
    padding-top: 32px;
}
#nav ul li{
    width: 100%;
    height: 120px;
    margin-bottom: 123px;
}
#nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: 'NEONABSOLUTESANS1Regular';
    font-size: 173px;
    transition: all .3s ease-in-out;
    animation: light_on 2s ease-in-out;
    text-shadow: 10px 10px 5px rgba(0,0,0,1);
}
#nav ul li a span{
    text-shadow: none;
    animation: light 2s ease forwards;
}
@keyframes light{
    0%{
       color: #999;
    }
    10%{color: #fff;
       text-shadow: 0 0 10px #fff,
       0 0 40px #2ada82,
       0 0 50px #2cec93;
    }
    20%{
        color: #999;
        text-shadow: none;
   }
    35%{
        color: #fff;
        text-shadow: 0 0 10px #fff,
        0 0 40px #2ada82,
        0 0 70px #2cec93;
    }
    40%{
        color: #999;
        text-shadow: none;
    }
    50%{
        color: #999;
        text-shadow: none;
   }
    55%{
        color: #fff;
        text-shadow: 0 0 10px #fff,
        0 0 40px #2ada82,
        0 0 70px #2cec93;
   }
    60%{
        color: #999;
        text-shadow: none;
   }
    70%{
        color: #fff;
        text-shadow: 0 0 10px #fff,
        0 0 40px #2ada82,
        0 0 70px #2cec93;
   }
    80%{
    color: #999;
    text-shadow: none;
   }
    95%{
        color: #fff;
        text-shadow: 0 0 10px #fff,
        0 0 40px #2ada82,
        0 0 70px #2cec93;
    }
    100%{
        color: #999;
        text-shadow: none;
       }
    
}
#nav ul li.on a, #nav ul li.on span{
    text-shadow: 0 0 10px #fff,
     0 0 40px #2ada82,
     0 0 70px #2cec93;
}



/* 처음 섹션 */

#section__1{
    width: 100%;
    height: 100vh;
    background: #0f0f0c;
    overflow: hidden;
}
#section__1 .container{
    width: 100%;
    height: 100%;
}
#section__1 .container .contents{
    width: 50%;
    height: 100%;
    position: relative;
    float: right;
}
#section__1 .container .contents .main_bg{
    position: absolute;
    top: 20%;
    left: 35%;
    width: 400px;
    height: 366px;
    background: url(../images/bg/main.jpg);
    filter: blur(7px);
    background-size: cover;
    text-indent: -9999px;
    transition: all 2.5s 1s ease-in;
}
#section__1 .container.on .contents .main_bg{
    position: absolute;
    filter: blur(1px);
    background: url(../images/bg/responsive_main.jpg);
    background-size: cover;
}
#section__1 .container .contents .logo_svg{
    position: absolute;
    top: 50%;
    right: 5%;
    width: 280px;
    transform: rotate3d(3, 1, 1, -53deg);
}
#section__1 .container .contents .logo_svg path{
    fill: none;
    opacity: 0;
    stroke: #DBD0A1;
    stroke-width: 3;
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
    animation: dash 3s 5s ease-in forwards reverse; 
}
@keyframes dash {
    0%{fill: rgb(219, 208, 161,1); stroke-dashoffset: 0; opacity: 1;}
    5%{fill: rgb(219, 208, 161,0.2); stroke-dashoffset: 0; opacity: 1;}
    100% {stroke-dashoffset: 2000; opacity: 1; fill: none;}
  } 
#section__1 .container .contents .text_area{
    position: absolute;
    bottom: 25%;
    left: 35%;   
    z-index: 5;
    margin-left: 22px;
    font-family: 'Gugi';
    letter-spacing: 3px;
    text-align: center;
}
#section__1 .container .contents .text_area h1{
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    transition: all  0.5s 2s ease-in;
    opacity: 0;
    margin-bottom: 18px;
}
#section__1 .container .contents .text_area p{
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    transition: all 0.5s 3s ease-in;
    opacity: 0;
}
#section__1 .container .contents .text_area.on h1{
    opacity: 1;
}
#section__1 .container .contents .text_area.on p{
    opacity: 1;
}
#section__1 .container .contents #clock{
    position: absolute;
    right: 65px;
    top: 45px;
    z-index: 5;
    color: #fff;
    font-family: 'digital-7 (mono)';
    font-size: 90px;
    animation: light_on 1.5s ease-in forwards;
}
@keyframes light_on{
    from{text-shadow: 0 0 10px #fff,
        0 0 40px #2bd38d,
        0 0 70px #2cec93;
    }

    to{text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #2ada82,
        0 0 35px #2cec93,
        0 0 75px #2ada82;
    }
}



/* 섹션2 */
#section__2{
    width: 100%;
    height: 100vh;
    background: #0f0f0c;
    overflow: hidden;
}
#section__2 .container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: 1.3s ease;
}
#section__2 .container.on{
    opacity: 1;
}
#section__2  h1{
    padding: 40px 0 0 40px;
    width: 120px;
    font-size: 120px;
    font-family: 'AbsoluteNeonScript';
    color: #fff;
    animation: light 1.8s ease infinite;
}
#section__2  h1:hover{
    color: #666;
    animation: none;
}
#section__2 .container>div{
    display: inline-block;
}
#section__2 .container .profile_photo{
    width: 40%;
    height: 808px;
    position: relative;
    overflow: hidden;
}
#section__2 .container .profile_photo .photo_back{
    width: 645px;
    height: 645px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 70px;
}
#section__2 .container .profile_photo .photo{
    position: absolute;
    left: 65px;
    top: -50px;
    width: 100%;
    height: 858px;
    background: url(../images/bg/profile.png) 0 center no-repeat;
    background-size: cover;
}
#section__2 .container .information{
    width: 50%;
    margin-left: 161px;
    font-size: 18px;
    color: #fff;
    font-family: 'Noto Sans KR';
}
#section__2 .container .information .info_inner{
    width: 100%;
    height: 371px;
    position: relative;
}
#section__2 .container .information .info_inner .lang{
    width: 473px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 0.3s ease-in-out;
}
#section__2 .container .information .info_inner .lang p{
    line-height: 30px;
    letter-spacing: -2px;
    margin-bottom: 32px;
}
#section__2 .container .information .info_inner .lang p span{
    font-weight: 700;
    font-size: 25px;
}
#section__2 .container .information .info_inner .lang p.fourth{
    margin-bottom: 0;
}
#section__2 .container .information .info_inner .eng_lang{
    opacity: 0;
    font-family: 'Times New Roman';
}
#section__2 .container .information .info_inner .eng_lang p{
    font-size: 20px;
    letter-spacing: -1px;
}
#section__2 .container .information .career{
    margin: 73px 0 13px 0;
    width: 445px;
    height: 104px;
}
#section__2 .container .information .career .career_tit{
    margin-bottom: 5px;
}
#section__2 .container .information .career span{
   display: inline-block;
   font-size: 18px;
   margin-top: 10px;
}
#section__2 .container .information .career .career_tit{
    font-size: 23px;
    font-weight: 600;
}
#section__2 .container .information .skill{
    width: 445px;
    height: 104px;
    margin-top: 5px;
}
#section__2 .container .information .skill .skill_tit{
    font-size: 23px;
    font-weight: 600;
}
#section__2 .container .information .skill ul{
    margin-top: 25px;
}
#section__2 .container .information .skill ul li{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}
#section__2 .container .information .skill ul .html5{
    background-image: url(../images/icon/html5.png);
    margin: 0;
}
#section__2 .container .information .skill ul .css{
    background-image: url(../images/icon/css3.png);
}
#section__2 .container .information .skill ul .jquery{
    background-image: url(../images/icon/jquery.png);
}
#section__2 .container .information .skill ul .javascript{
    background-image: url(../images/icon/js.png);
}
#section__2 .container .information .skill ul .photoshop{
    background-image: url(../images/icon/photoshop.png);
}
#section__2 .container .information .skill ul .illustrator{
    background-image: url(../images/icon/illustrator.png);
}
#section__2 .container .information .skill ul li span{
    display: none;
}

/* 마우스 이벤트 */
#section__2 .container .cursor{
     position: fixed;
     border-radius: 50%;
     transform: translate(-50%,-50%);
     pointer-events: none;
     left: -100px;
     top: 50%;
}
#section__2 .container #cursor1{
    background-color: #fff;
    height: 0;
    width: 0;
    z-index: 99;
}
#section__2 .container #cursor2, #cursor3{
    width: 30px;
    height: 30px;
    z-index: 99;
    transition: all .3s ease-out;
}
#section__2 .container #cursor2{
    border: 1px solid #fff;
    opacity: 1;
}
#section__2 .container #cursor2.hover{
    background: #fff;
}
#section__2 .container #cursor2.hover, #cursor3.hover{
    transform: scale(30) translateX(5%) translateY(-5%);
    border: none;
    mix-blend-mode: difference;
}

/* 우측 퀵메뉴 */
.side_btn{
    width: 60px;
    height: 100%;
    position: fixed;
    right: 5%;
    top: 10%;
    z-index: 100;
    display: none;
}
.side_btn.on{
    display: block;
}
.side_btn .menu_btn{
    width: 40px;
    height: 28px;
    background: none;
    text-indent: -9999px;
    position: relative;
}
.side_btn .menu_btn span{
    background: linear-gradient(50deg,#1ea06a 0,#2ada82 100%);
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    animation: btnOn 0.5s ease forwards;
    transition: all 0.3s ease-in;
    opacity: 0;
}
.side_btn .menu_btn span.line1{
    top: 0;
    animation-delay: 0.2s;
}
.side_btn .menu_btn span.line2{
    animation-delay: 0.4s;
}
.side_btn .menu_btn span.line3{
    top: 100%;
    animation-delay: 0.6s;
}
@keyframes btnOn{
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
.side_btn .menu_btn.on span.line1{
    transform: rotate(45deg);
    top: 50%;
}
.side_btn .menu_btn.on span.line2{
    display: none;
}
.side_btn .menu_btn.on span.line3{
    transform: rotate(-45deg);
    top: 50%;
}
.side_btn .menu_list{
    width: 720px;
    height: 632px;
    position: absolute;
    right: -800px;
    top: 5%;
    background: rgba(22, 22, 22, 0.3);
    transition: all 0.2s linear;
    padding: 71px 0;
}
.side_btn .menu_list li{
    width: 100%;
    height: 120px;
    margin-bottom: 50px;
}
.side_btn .menu_list li a{
    width: 100%;
    height: 100%;
    display: block;
    line-height: 120px;
    font-size: 130px;
    color: #fff;
    font-family: 'AbsoluteNeonScript';
    text-align: center;
    transition: all 0.3s ease-in;
    letter-spacing: 12px;
  
}
.side_btn .menu_list li a:hover{
    color: #fff;
    text-shadow: 0 0 10px #fff,
     0 0 20px #2ada82,
     0 0 50px #2ada82;
}
.side_btn .menu_list.on{
    right: -95px;
}

/* 섹션3 */
#section__3{
    width: 100%;
    height: 100vh;
    background: #0f0f0c;
    overflow: hidden;
}
#section__3 .container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    color: #fff;
    padding-left: 80px;
    font-family: 'Gugi';
    font-weight: 700;
    opacity: 0;
    transition: 1.3s ease;
}
#section__3 .container.on{
    opacity: 1;
}
#section__3 .container >div{
    display: inline-block;
}
#section__3 h1{
    font-size: 120px;
    font-family: 'AbsoluteNeonScript';
    animation: light 1.8s ease infinite;
    text-align: center;
    padding-top: 40px;
}
#section__3 h1:hover{
    color: #666;
    animation: none;
}
#section__3 .container .information{
    width: 703px;
    height: 671px;
    margin: 103px 0 0 126px;
    text-align: left;
}
#section__3 .container .information .info_inner{
   width: 100%;
   height: 100%;
}
#section__3 .container .information .info_inner li{
    margin-bottom: 52px;
}
#section__3 .container .information .info_inner li h2{
    font-size: 28px;
    margin-bottom: 15px ;
}
#section__3 .container .information .info_inner li p{
    font-size: 20px;
    letter-spacing: -2px;
    line-height: 38px;
    font-family: 'Noto Sans KR';
}
#section__3 .container .information .info_inner li a{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #fff;
    margin-right: 10px;
    position: relative;
}
#section__3 .container .information .info_inner li .kakao{
  background: url(../images/icon/kakao.png) 0 -1px no-repeat;
  background-size: cover;
}
#section__3 .container .information .info_inner li span{
    display: none;
}
#section__3 .container .information .info_inner li a em{
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
}
#section__3 .container .information .info_inner li a:hover em{
    display: block;
}
#section__3 .container .send_me{
    width: 713px;
    height: 695px;
}
#section__3 .container .send_me{
    width: 713px;
    height: 695px;
}
#section__3 .container .send_me h2{
    font-size: 28px;
    margin-top: 103px;
}
#section__3 .container .send_me .mail{
    width: 538px;
    height: 492px;
    margin: 63px 30px 0;
}
#section__3 .container .send_me .mail label{
    font-size: 25px;
    letter-spacing: 1px;
    margin: 0 5px;
    display: inline-block;
}
#section__3 .container .send_me .mail label p{
    margin: 10px;
} 
#section__3 .container .send_me .mail label input{
    width: 220px;
    height: 25px;
    padding-top: 2px;
    text-indent: 10px;
    border-radius: 22px;
    box-shadow: -5px -5px 12px rgba(21, 245, 21, 0.2) inset;
    background: none;
    border: none;
    color: #fff;
    transition: box-shadow 0.3s ease-in;
}
#section__3 .container .send_me .mail label input.on{
    box-shadow: -5px -5px 14px rgba(21, 245, 21, 0.6) inset;
}
#section__3 .container .send_me .mail .text_label{
    margin-top: 20px;
}
#section__3 .container .send_me .mail label textarea{
    width: 452px;
    padding-top: 15px;
    text-indent: 10px;
    border-radius: 22px;
    box-shadow: -5px -5px 14px rgba(21, 245, 21, 0.3) inset;
    background: none;
    border: none;
    color: #fff;
    transition: box-shadow 0.3s ease-in;
}
#section__3 .container .send_me .mail label textarea.on{
    box-shadow: -5px -5px 14px rgba(21, 245, 21, 0.6) inset;
}
#section__3 .container .send_me .mail button{
    display: inline-block;
    width: 204px;
    height: 47px;
    font-size: 18px;
    color: #fff;
    margin: 13px 14px;
    border-radius: 22px;
    box-shadow: -5px -5px 14px rgba(21, 245, 21, 0.3) inset;
}
