@charset "utf-8";
body{
    font-family: 'Noto Sans KR', 'Times New Roman', Times, 'Gugi', sans-serif;
}
button{
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
}

/* 헤더 */
header{
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    font-family: 'Gugi';
    font-style: oblique;
}
header h1{
    text-align: right;
    font-size: 38px;
    margin: 18px 50px 0 0;
    color: #fff;
}
.logo{
    position: relative;
    top: 50%;
    left: 5%;
    cursor: pointer;
    width: 180px;
    height: 80px;
    z-index: 5;
    display: block;
}
.logo .front, .back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    backface-visibility: hidden;
    transition: .6s linear;
}
.logo .front{
    transform: perspective(600px) rotateY(0deg);
}
.logo .front .logo_svg{
    position: absolute;
    top: 0;
    left: 5%;
    width: 180px;
    transform: rotate3d(3, 1, 1, -53deg);
}
.logo .front .logo_svg path{
    fill: none;
    opacity: 0;
    stroke: #fff;
    stroke-width: 3;
    stroke-dashoffset: 2000;
    stroke-dasharray: 2000;
    animation: dash 3s 1s ease-in forwards reverse; 
}
@keyframes dash {
    0%{fill: rgb(255,255,255,1); stroke-dashoffset: 0; opacity: 1;}
    5%{fill: rgb(255,255,255,0.2); stroke-dashoffset: 0; opacity: 1;}
    100% {stroke-dashoffset: 2000; opacity: 1; fill: none;}
  } 
.logo .back{
    transform: perspective(600px) rotateY(180deg);
}
.logo .back_con{
    text-align: center;
    line-height: 80px;
    font-size: 23px;
    color: #fff;
}
.logo:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
}
.logo:hover > .back{
    transform: perspective(600px) rotateY(0deg);
}

/* 섹션1 */
#web_section{
    width: 100%;
    height: 1557px;
    position: relative;
    overflow: hidden;
}
#web_section .bg_show{
    width: 300vw;
    height: 100%;
    position: absolute;
    background: url(../images/bg/demo.jpg) repeat-x;
    background-size: contain;
    background-position: center;
    animation: backgroundMove 100s linear infinite;
}
#web_section .bg_show.on{
    filter: blur(8px);
    opacity: 0.3;
    
}
@keyframes backgroundMove {
    from {
        transform: translate(0px, 0);
        transform: translate(0px, 0);
    }
    to {
        transform: translate(-200vw, 0);
        transform: translate(-200vw, 0);
    }
}
#web_section  .container{
    width: 90%;
    height: 100%;
    padding: 0 5%;
    position: relative;
    overflow: hidden;
}
#web_section .container .contents{
    width: 1680px;
    height: 969px;
    position: relative;
}
#web_section .container .contents li{
    position: absolute;
    width: 60%;
}
#web_section .container .contents .work1{
    left: 50%;
    top: 10%
}
#web_section .container .contents .work2{
    left: -50px;
    top: 45%;
}
#web_section .container .contents .work3{
    left: 70%;
    top: 65%;
}
#web_section .container .contents .work4{
    left: -50px;
    top: 100%;
}
#web_section .container .contents li a{
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 160px;
    font-family: 'Times New Roman';
    letter-spacing: -1px;
    font-weight: 800;
    color: #fff;
    position: relative;
    transition: all .5s ease;
    z-index: 1;
}
#web_section .container .contents li a:hover{
    transform: scale(1.1);
    color: #000;
}
#web_section .container .contents li span{
    margin-top: 15px;
    display: inline-block;
    text-align: left;
    color: #fff;
    line-height: 26px;
}
#web_section .container .contents li span strong{
    font-weight: bold;
}
#web_section .container .contents li em{
    color: #fff;
    font-size: 20px;
    display: block;
    margin-top: 15px;
}
/* 섹션2 */
#etc_section{
   background: #fff;
   position: relative;
   width: 100%;
   height: 900px;
}
#etc_section .title{
    font-size: 99px;
    color: #000;
    width: 500px;
    height: 200px;
    text-align: left;
    position: absolute;
    left: 5%;
    top: -35px;
    background: #fff;
    font-weight: 800;
    transform: rotate3d(2,2,1,-32deg);
}
#etc_section .container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#etc_section  .container .contents{
    width: 50%;
    height: 100%;
    float: left;
    transform: rotate3d(2,2,1,-32deg);
}
#etc_section  .container .contents .slide{
    position: absolute;
    left: 0;
    width: 100%;
    height: 480px;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: -42px 42px 25px rgba(0,0,0,0.5);
}
#etc_section  .container .contents .slide .slide_item{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
#etc_section  .container .contents .slide .slide_item1{
    background-image: url(../images/portfolio_img/slide1.png);
}
#etc_section  .container .contents .slide .slide_item2{
    background-image: url(../images/portfolio_img/slide2.png);
}
#etc_section  .container .contents .slide .slide_item3{
    background-image: url(../images/portfolio_img/slide3.png);
}
#etc_section  .container .contents .slide .slide_item4{
    background-image: url(../images/portfolio_img/slide4.png);
}
#etc_section  .container .contents .slide .slide_item5{
    background-image: url(../images/portfolio_img/slide5.png);
}
#etc_section  .container .contents .slide .slide_item6{
    background-image: url(../images/portfolio_img/slide6.png);
}
#etc_section  .container .contents .slide .slide_item7{
    background-image: url(../images/portfolio_img/slide7.png);
}
#etc_section  .container .contents .slide .slide_item8{
    background-image: url(../images/portfolio_img/slide8.png);
}
#etc_section  .container .contents .slide .slide_item a{
    width: 100%;
    height: 100%;
    display: block;
}
#etc_section  .container .info_contents{
    width: 50%;
    height: 874px;
    float: left;
}
#etc_section  .container .info_contents .info{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#etc_section  .container .info_contents .info .text{
    position: absolute;
    width: 454px;
    height: 468px;
    left: 20%;
    top: 10%;
    text-align: center;
    font-family: 'Gugi';
}
#etc_section  .container .info_contents .info .text h1{
    font-size: 30px;
    margin-bottom: 15px;
}
#etc_section  .container .info_contents .info .text p{
    font-size: 20px;
    margin-bottom: 25px;
}
#etc_section  .container .info_contents .info .text span{
    display: block;
    text-align: left;
    font-size: 25px;
    line-height: 60px;
    height: 60px;
    font-style: italic;
}

/* 슬라이드 버튼 */
button{
    width: 80px;
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: 30%;
    font-size: 18px;
    font-weight: bold;
}
button:hover circle{
    opacity: 1;
}
button svg{
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(0);
    animation: loader 4s infinite ease-in-out;
} 
button svg circle{
    fill: none;
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: 170px;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.btn_next{
    margin-left: 440px;
 }
.btn_prev{
    margin-left: 310px;
}
@keyframes loader{
    100%{transform: translate(-50%,-50%) rotate(360deg);}
}