#section0 {
    background-color: #1a1a1a;
    color: white;
    cursor: none;
}

/* 프로필 컨테이너 */
article.profile { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative; 
    height: 250px;
}

/* 자기소개 영역 */
.bio {
    text-align: left;
    position: absolute; 
    top: 0;
    left: 0%;
    transition: opacity 0.3s ease-in-out;
    margin-bottom: 30px;
}

.bio h1 {
    font-size: 2.5rem;
    margin: 20px 0;
    font-weight: normal;
}

.bio-subtitle {
    font-size: 1.5rem;
    color: #DCD2A5;
    margin-bottom: 20px;
}

.bio-detail {
    font-size: 1.2rem;
    line-height: 1.8;
}

.profile-photo img {
    width: 50px;
}

/* 스킬 섹션 */
.skills {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.skills-container h2 {
    color: #DCD2A5;
    margin-bottom: 8px;
}

.skills-container .skills-info {
    display: block;
    font-size: 12px;
    margin-bottom: 30px;
}

.category {
    margin-bottom: 40px;
}

.category h3 {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20px;
}

/* 스택 영역 그리드 */
.tech-stack {
    display: flex;
    gap: 20px;
}

.tech-stack li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.tech-stack img {
    width: 50px;
    transition: transform 0.3s ease;
}

.tech-stack img:hover {
    transform: scale(1.1);
}

.tech-stack span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 40px;
}

.tech-stack img:hover+span {
    opacity: 1;
}

.skills-description {
    width: 575px;
    padding: 80px 0;
}

.skills-description .skill-desciption-text {
    line-height: 1.5;
    font-size: 17px;
    color: #DCD2A5;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.skills-description .skill-desciption-text.show {
    opacity: 1;
    transform: translateY(0);
}

/* 마우스 이벤트 */
.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    transition: transform 0.1s ease;
}

#cursor1 {
    background-color: #fff;
    height: 0;
    width: 0;
    z-index: 99;
}

#cursor2,
#cursor3 {
    width: 30px;
    height: 30px;
    z-index: 99;
    transition: transform 0.1s ease;
}

#cursor2 {
    border: 1px solid #fff;
    opacity: 1;
}

#cursor2.hover {
    background: #fff;
}

#cursor2.hover,
#cursor3.hover {
    transform: scale(25) translateX(10%) translateY(-5%);
    border: none;
    mix-blend-mode: exclusion;
}

/* 언어 전환 텍스트 */
.kor_lang {
    opacity: 1;
}

.eng_lang {
    opacity: 0;
}
