/* 모바일 레이아웃 (최대 768px) */
@media (max-width: 768px) {
    body,
    html {
        font-size: 0.8rem; 
    }

    .mobile-menu-btn {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .grid {
        display: block;
    }

    .container {
        padding: 0 30px;
    }

    #section0 {
        padding-top: 15px;
    }

    #section0 h1 {
        font-size: 1.3rem;
    }

    #section0 p {
        font-size: 1.1rem;
    }

    .bio p {
        font-size: 1rem;
    }

    .logo img {
        width: 70%;
    }

    .skills {
        display: block;
    }

    .skills img {
        width: 40px;
    }

    .skills .skills-description {
        width: 100%;
        padding: 0;
    }

    .load-btn {
        display: none;
    }

    #additionalProjects {
        display: grid !important;
        gap: 30px;
    }

    .clone-projects-title {
        display: block !important;
    }

    .hidden {
        display: block;
    }
}


@media (max-width: 1024px) {
    body,
    html {
        font-size: 0.9rem;
    }

    .container {
        padding: 0 10px; /* padding을 더 줄여보세요 */
    }

    .load-btn {
        display: none;
    }

    .logo img {
        width: 55%; /* 이미지 크기를 줄입니다 */
    }

    .skills img {
        width: 40px; /* 이미지 크기를 더 줄입니다 */
    }

    #additionalProjects {
        display: grid !important;
        gap: 10px; /* 간격을 더 줄입니다 */
    }

    .hidden {
        display: block;
    }
}
