/* 모바일 레이아웃 (최대 768px) */
@media (max-width: 768px) {

    body,
    html {
        font-size: 0.8rem;
    }

    .mobile-menu-btn {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .grid {
        display: block;
    }

    #section0 {
        cursor: auto;
    }

    #section0 h1 {
        font-size: 1.5rem;
    }

    #section0 .bio-subtitle {
        font-size: 1.2rem;
    }

    #section0 .bio-detail {
        font-size: 1rem;
        line-height: 1.2;
    }

    .logo img {
        width: 70%;
    }

    .skills {
        display: block;
    }

    .skills img {
        width: 40px;
    }

    .category {
        margin-bottom: 20px;
    }

    .tech-stack span {
        font-size: 14px;
        margin-top: 30px;
    }

    .skills .skills-description {
        width: 100%;
        padding: 0;
    }

    .skills-description .skill-desciption-text {
        font-size: 14px;
    }

    .load-btn {
        display: none;
    }

    #additionalProjects {
        display: grid !important;
        gap: 30px;
    }

    .clone-projects-title {
        display: block !important;
    }

    .hidden {
        display: block;
    }


    #cursor1 {
        background-color: none;
    }


    #cursor2,
    #cursor3 {
        width: 0;
        height: 0;
        z-index: 0;
        transition: transform none;
    }

    #cursor2 {
        border: none;
        opacity: 0;
    }

    #cursor2.hover {
        background-color: none;
    }

    #cursor2.hover,
    #cursor3.hover {
        transform: none;
        background: none;
        border: none;
        mix-blend-mode: normal;
    }

    footer {
        text-align: center;
    }
}


@media (max-width: 1024px) {

    body,
    html {
        font-size: 0.9rem;
    }

    .container {
        padding: 0 10px;
    }

    .load-btn {
        display: none;
    }

    .logo img {
        width: 55%;
    }

    .skills img {
        width: 40px;
    }

    #additionalProjects {
        display: grid !important;
        gap: 10px;
    }

    .hidden {
        display: block;
    }
}